APP_PORT=8080
WS_READ_BUFFER_SIZE=1024
WS_WRITE_BUFFER_SIZE=1024
WATCHER_POLL_INTERVAL=1s

AUTH_DB_HOST=127.0.0.1
AUTH_DB_PORT=3306
AUTH_DB_USER=root
AUTH_DB_PASSWORD=secret
AUTH_DB_NAME=authorization_service

SUPPLY_DB_HOST=127.0.0.1
SUPPLY_DB_PORT=3306
SUPPLY_DB_USER=root
SUPPLY_DB_PASSWORD=secret
SUPPLY_DB_NAME=supply_service

REFERENCE_DB_HOST=127.0.0.1
REFERENCE_DB_PORT=3306
REFERENCE_DB_USER=root
REFERENCE_DB_PASSWORD=secret
REFERENCE_DB_NAME=reference_service
